
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    display: flex;
    justify-content: center;
}

body {
    width: 100%;
    height: 100vh;
    background: radial-gradient(farthest-corner at 50% -25vmin, white 15%, rgb(230, 228, 228) 35%);
}

.nostalgia {
    position: relative;
    display: flex;
    top: 35vmin;
    width: 40vmin;
    height: 30vmin;
    border-radius: 5% 5% 0 0;
    background-color: gray;
    box-shadow:
    15vmin 13.5vmin 0.1vmin -13.5vmin #212121,
    -15vmin 13.5vmin 0.1vmin -13.5vmin #212121,
    0 2vmin 0.1vmin 0.1vmin inset #212121,
    0 -5.5vmin 0.1vmin -2.5vmin inset #212121,
    0 0vmin 0.1vmin 1vmin inset #212121,
    0 -10vmin 0.1vmin 0vmin inset green,
    0 -10vmin 0.1vmin 0vmin inset green,
    0 0vmin 0.1vmin 15vmin inset blue;
}

.nostalgia::before {
    content: "";
    position: absolute;
    display: flex;
    top: 24vmin;
    left: 5vmin;
    width: 30vmin;
    height: 2vmin;
    box-shadow: 
    0 0 0.1vmin 0.3vmin inset #E8F0F2,
    0 0 0.1vmin 1.3vmin inset rgba(225, 230, 225, 0.158);
}

.nostalgia::after {
    content: "";
    position: absolute;
    display: flex;
    top: -5vmin;
    left: 5vmin;
    width: 3vmin;
    height: 3vmin;
    box-shadow:
    0 23vmin 0.1vmin 0.1vmin saddlebrown,
    0 20vmin 0.1vmin 0.1vmin saddlebrown,
    0 17vmin 0.1vmin 0.1vmin saddlebrown,
    0 14vmin 0.1vmin 0.1vmin #1E5128,
    3vmin 14vmin 0.1vmin 0.1vmin #1E5128,
    -3vmin 14vmin 0.1vmin 0.1vmin #1E5128,

    27.5vmin 18.5vmin 0.01vmin -1.1vmin #191A19,
    26.5vmin 18.5vmin 0.01vmin -1.1vmin #191A19,

    26.3vmin 19.6vmin 0.01vmin -1.25vmin #191A19,
    26.5vmin 19.6vmin 0.01vmin -1.25vmin #191A19,
    26.7vmin 19.2vmin 0.01vmin -1.25vmin #191A19,
    26.9vmin 19.2vmin 0.01vmin -1.25vmin #191A19,
    27.1vmin 19.2vmin 0.01vmin -1.25vmin #191A19,
    27.3vmin 19.2vmin 0.01vmin -1.25vmin #191A19,
    27.5vmin 19.6vmin 0.01vmin -1.25vmin #191A19,
    27.7vmin 19.6vmin 0.01vmin -1.25vmin #191A19,

    27.9vmin 25vmin 0.01vmin -1.3vmin #191A19,
    28.7vmin 25vmin 0.01vmin -1.3vmin #191A19,

    26.2vmin 25vmin 0.01vmin -1.3vmin #191A19,
    25.4vmin 25vmin 0.01vmin -1.3vmin #191A19,

    27vmin 19vmin 0.1vmin 0 #4E9F3D,
    27vmin 21.4vmin 0.1vmin -0.5vmin #4E9F3D,
    27vmin 22.4vmin 0.1vmin -0.5vmin #4E9F3D,
    27vmin 23.4vmin 0.1vmin -0.5vmin #4E9F3D,
    25.8vmin 24.4vmin 0.1vmin -0.7vmin #4E9F3D,
    28.2vmin 24.4vmin 0.1vmin -0.7vmin #4E9F3D,

    10vmin 25vmin 0.1vmin 0.1vmin #ECD662,
    10vmin 22vmin 0.1vmin 0.1vmin #ECD662,
    10vmin 19vmin 0.1vmin 0.1vmin #ECD662,
    13vmin 25vmin 0.1vmin 0.1vmin #ECD662,
    13vmin 22vmin 0.1vmin 0.1vmin #ECD662,
    13vmin 19vmin 0.1vmin 0.1vmin #ECD662,

    19vmin 25vmin 0.1vmin 0.1vmin #ECD662,
    19vmin 22vmin 0.1vmin 0.1vmin #ECD662,
    19vmin 19vmin 0.1vmin 0.1vmin #ECD662,
    22vmin 25vmin 0.1vmin 0.1vmin #ECD662,
    22vmin 22vmin 0.1vmin 0.1vmin #ECD662,
    22vmin 19vmin 0.1vmin 0.1vmin #ECD662,    
  
    15.5vmin 21.5vmin 0.1vmin -1.2vmin #ECD662,
    15.5vmin 22.5vmin 0.1vmin -1.2vmin #ECD662,
    16.5vmin 21.5vmin 0.1vmin -1.2vmin #ECD662,
    16.5vmin 22.5vmin 0.1vmin -1.2vmin #ECD662,
    17vmin 24vmin 0.1vmin -1.3vmin #131312,

    16vmin 25vmin 0.1vmin 0.1vmin #904f26,
    16vmin 22vmin 0.1vmin 0.1vmin #904f26,
    
    16vmin 19vmin 0.1vmin 0.1vmin #ECD662,
    10vmin 25vmin 0.1vmin 0.1vmin #ECD662,
    
    12vmin 8vmin 0vmin 0 #ffffffd3,
    15vmin 8vmin 0vmin 0 #ffffffd3,
    18vmin 8vmin 0vmin 0 #ffffffd3,
    21vmin 8vmin 0vmin 0 #ffffffd3,

    0 11vmin 0.1vmin 0 #1E5128;
}