
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.colors {
    color :#FAD586
#D6EFC7
#1C7947
#1b291c
#406343
#86340A
}

.fundo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D6EFC7;
    width: 100%;
    height: 100vh;
}

.circulo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vmin;
    height: 80vmin;
    background: #FAD586;
    border-radius: 50%;
}

.vaso {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vmin;
    border-radius: 2vmin;
    border-left: 8vmin solid transparent;
    border-right: 8vmin solid transparent;
    border-top: 12vmin solid #86340A;
    top: 55vmin;
    z-index: 50;

}

.cacto-meio {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vmin;
    transform: translateY(-100%);
    width: 10vmin;
    border-radius: 5vmin 5vmin 0 0 ;
    background: #1C7947;
    box-shadow: 0 0 0 0.5vmin inset #406343;
    top: 56vmin;
}

.cacto-meio::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vmin;
    width: 4vmin;
    border-radius: 5vmin 5vmin 0 0 ;

    box-shadow: 0 0 0 0.5vmin inset #406343;
}

.cacto-esq {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
    width: 8vmin;
    transform: translateY(-100%);
    border-radius: 50%;
    background: #1C7947;
    box-shadow: 0 0 0 0.5vmin inset #406343;
    top: 57vmin;
    left: 27vmin;
}


.cacto-esq::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vmin;
    width: 4vmin;
    border-radius: 50% ;

    box-shadow: 0 0 0 0.5vmin inset #406343;
}

.espinhos {
    position: absolute;
    display:flex;
    width: 2vmin;
    height: 5vmin;
    background: #1b291c;
    clip-path: polygon(0 0, 0% 100%, 50% 100%);
    z-index: 100;
}

.v {
    position: absolute;
    transform: rotate(90deg);
    z-index: 100;
}

.p {
    position: absolute;
    transform: rotate(-90deg) translateY(-50%) translateX(50%);
    z-index: 100;
}

.x {
    position: absolute;
    transform: rotate(-60deg) translateY(-40%) translateX(50%);
    z-index: 100;
}

.z {
    position: absolute;
    transform: rotate(60deg) translateY(-70%) translateX(50%);
    z-index: 100;
}

.e1 {
    top: 3vmin;
    left: 10vmin;
}

.e2 {
    top: 9vmin;
    left: 10vmin;
}
.e3 {
    top: 15vmin;
    left: 10vmin;
}
.e4 {
    top: 21vmin;
    left: 10vmin;
}
.e5 {
    top: 27vmin;
    left: 10vmin;
}

.e6 {
    top: 33vmin;
    left: 10vmin;
}

.e7 {
    top: 3vmin;
    left: 0vmin;
}
.e8 {
    top: 9vmin;
    left: 0vmin;
}
.e9 {
    top: 15vmin;
    left: 0vmin;
}
.e10 {
    top: 21vmin;
    left: 0vmin;
}

.e11 {
    top: 27vmin;
    left: 0vmin;
}


.e12 {
    top: 33vmin;
    left: 0vmin;
    
}

.e13 {
    top: 0vmin;
    left: 0vmin;
}

.e14 {
    top: 3vmin;
    left: 0vmin;
}
.e15 {
    top: 0vmin;
    left: 4vmin;
}

.e16 {
    top: 3vmin;
    left: 8vmin;
}
