
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    position: relative;
    display: flex;
    justify-content: center;
    color: #935933, -1.9vmin 15.5vmin 0 -2.5vmin #f8cfa6,;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #346193 60%, cyan );
}

body::after {
    content: "";
    position: absolute;
    top: 63vmin;
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    background: linear-gradient(to top, #77c3b1 10%, #5f9689 30%, #8acebe, #7eada2, #75dbc4);
    box-shadow: 0 0.2vmin 0.2vmin 1vmin inset #8dd6c52c;
}

body::before {
    content: "";
    position: absolute;
    top: 21.5vmin;
    width: 8.5vmin;
    height: 10vmin;
    border-radius: 50% 50% 40% 40%;
    background: mediumaquamarine;
    box-shadow: -1.9vmin 15.5vmin 0 -2.5vmin #f8cfa6,
    1.9vmin 15.5vmin 0 -2.5vmin #f8cfa6,
    0 -3.5vmin 0.1vmin 2.8vmin inset #f8cfa6,
    44.9vmin -6.5vmin 0 2.5vmin #ffffff,
    42.9vmin -10.5vmin 0 2.5vmin #ffffff,
    44.9vmin -14.5vmin 0 2.5vmin #ffffff,
    42.9vmin -18.5vmin 0 2.5vmin #ffffff,
    44.9vmin -23.5vmin 0 2.5vmin #ffffff,




    52.9vmin -5.5vmin 0 2.5vmin #ffffff,
    60.9vmin -5.5vmin 0 2.5vmin #ffffff,
    70.9vmin -5.5vmin 0 2.5vmin #ffffff,
    76.9vmin -5.5vmin 0 2.5vmin #ffffff,

    70.9vmin -22.5vmin 0 20.5vmin #ffffff,
    85.9vmin -25.5vmin 0 20.5vmin #ffffff,
    90.9vmin -22.5vmin 0 20.5vmin #ffffff,
    95.9vmin -22.5vmin 0 20.5vmin #ffffff,
    102.9vmin -25.5vmin 0 20.5vmin #ffffff


    ; 
    z-index: 1; 
}

.aang {
    position: relative;
    top: 32vmin;
    width: 10vmin;
    height: 15vmin;
    border-radius: 30% 30% 8% 8%;
    background: linear-gradient(to right, rgb(174,62,21) 45%, rgb(212,174,32) 46%, 55% , rgb(174,62,21) 56%);
    box-shadow: 0 1.5vmin 0.2vmin 0.15vmin inset  rgb(174,62,21),
    0 -1.5vmin 0.2vmin 0.15vmin inset  rgb(212,174,32),
    0 -2.5vmin 0.2vmin 0.2vmin inset rgb(174,62,21),
    0 -7vmin 0.2vmin 0.15vmin inset  rgb(212,174,32),
    0 -3.8vmin 0.2vmin -3vmin  rgb(212,174,32)
    ;

}

.aang::after {
    content: "";
    position: absolute;
    top: -25vmin;
    width: 3vmin;
    height: 10vmin;
    border-radius: 15% 15% 30% 30% ;
    transform: rotate(-55deg);
    box-shadow: -15.8vmin 35.9vmin 0 4vmin #346193,
    -14.8vmin 29.3vmin 0 0.2vmin rgb(235, 192, 36),
    -14.2vmin 22.5vmin 0 0.2vmin rgb(174,62,21),
    -25.5vmin 14vmin 0 -0.2vmin rgb(235, 192, 36),
    -25.2vmin 30vmin 0 0.6vmin rgb(212,174,32),
    -36.7vmin 22.5vmin 0 0.2vmin rgb(212,174,32),
    -26.2vmin 28vmin 0 0.1vmin rgb(212,174,32),
    -36.7vmin 27.5vmin 0 -0.2vmin #935933,
    -36.7vmin 28.5vmin 0 -0.2vmin #492313;
}

.aang::before {
    content: "";
    position: absolute;
    top: -25vmin;
    width: 3vmin;
    height: 10vmin;
    border-radius: 15% 15% 30% 30% ;
    transform: rotate(55deg);
    box-shadow: 18.2vmin 16.5vmin 0 0.2vmin rgb(174,62,21),
    29.5vmin 8vmin 0 -0.2vmin rgb(235, 192, 36),
    29vmin 24.5vmin 0 0.6vmin rgb(212,174,32),
    40.5vmin 16.5vmin 0 0.2vmin rgb(212,174,32),
    30vmin 22.5vmin 0 0.1vmin rgb(212,174,32),
    40.5vmin 22.5vmin 0 -0.2vmin #935933,
    40.5vmin 22.5vmin 0 -0.2vmin #935933,
    40.5vmin 23.5vmin 0 -0.2vmin #492313;
}